Vagrant.configure("2") do |config|
    config.vm.define "{{ getv "/name/machine/2" }}" do |{{ getv "/name/machine/2" }}|
        {{ getv "/name/machine/2" }}.vm.box = "ubuntu/focal64"
        {{ getv "/name/machine/2" }}.vm.synced_folder ".", "/vagrant", disabled: true
        {{ getv "/name/machine/2" }}.vm.network "public_network", ip: "{{ getv "/ip/machine/2" }}", bridge: "{{ getv "/network/adapter" }}"
        {{ getv "/name/machine/2" }}.vm.provider "virtualbox" do |v|
            v.memory= {{ getv "/ram/machine/2" }}
            v.cpus = {{ getv "/cpu/machine/2" }}
            v.name = "{{ getv "/name/machine/2" }}"
        end  
    end   
end
