{{ getv "/name/machine/2" }}:
  nodename: {{ getv "/name/machine/2" }}
  hostname: {{ getv "/name/machine/2" }}.vm.{{ getv "/domain/sufix"}}
  osVersion: 5.4.0-72-generic
  osFamily: unix
  osArch: amd64
  description: {{ getv "/name/machine/2" }} server
  osName: Linux
  username: vagrant
  tags: ""

{{ getv "/name/machine/3" }}:
  nodename: {{ getv "/name/machine/3" }}
  hostname: {{ getv "/name/machine/3" }}.vm.{{ getv "/domain/sufix"}}
  osVersion: 5.4.0-72-generic
  osFamily: unix
  osArch: amd64
  description: {{ getv "/name/machine/3" }} server
  osName: Linux
  username: vagrant
  tags: ""

{{ getv "/name/machine/4" }}:
  nodename: {{ getv "/name/machine/4" }}
  hostname: {{ getv "/name/machine/4" }}.vm.{{ getv "/domain/sufix"}}
  osVersion: 5.4.0-72-generic
  osFamily: unix
  osArch: amd64
  description: {{ getv "/name/machine/4" }} server
  osName: Linux
  username: vagrant
  tags: ""

{{ getv "/name/machine/5" }}:
  nodename: {{ getv "/name/machine/5" }}
  hostname: {{ getv "/name/machine/5" }}.vm.{{ getv "/domain/sufix"}}
  osVersion: 5.4.0-72-generic
  osFamily: unix
  osArch: amd64
  description: {{ getv "/name/machine/5" }} server
  osName: Linux
  username: vagrant
  tags: ""