{{ getv "/name/machine/2" }}:
  nodename: {{ getv "/name/machine/2" }}
  hostname: {{ getv "/name/machine/2" }}.vm.{{ getv "/domain/sufix"}}
  osVersion: 5.4.0-72-generic
  osFamily: unix
  osArch: amd64
  description: {{ getv "/name/machine/2" }} server
  osName: Linux
  username: vagrant
  tags: ""